body {
  margin:0;
  padding:0;
  font-family: serif;
  width: auto;
  background-color: #F7EFE2;
}

main, aside, footer {
  width:60%;
  margin:auto;
  margin-top:4em;
}

aside {
  padding:1em 8em;
  background-color: #C0B2B5;
  margin-top: 5rem;
}

main {
  padding: 2rem 5rem;
  background-color: #C0B2B5;
  margin-bottom: 4rem;
}

footer {
  background: #A10115;
  padding:0em 4em;
  color:white;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
}

section {
  margin-top: 4rem;
}

.title1 {
  border-style: outset;
  border-color: #A10115;
  background-color: #F7EFE2;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-family: 'Open Sans', serif;
  font-size: 3rem;
  color: #D72C16;
}

.normtext {
  border-style: inset;
  background: #F7EFE2;
  font-size: 1.3rem;
  color: #110000;
  padding: 1rem;
}

.nav {
  position: fixed;
  list-style: none;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000
  display: block;
  background-color: #A10115;
  text-align: center;

}
